@{
    Layout = null;
}
<div class="logIn">
    <form class="form-signin" data-ng-submit="chooseNick()">
        <h2 class="form-signin-heading">Wybierz swój nick</h2>
        <input type="text" class="input-block-level" placeholder="Wpisz nick" data-ng-model="username">
        <button class="btn btn-large btn-primary" type="submit">Przejdź do czatu</button>
    </form>
</div>
