@{
    Layout = null;
}

<div class="logIn">
    <form name="loginForm" class="form-signin" data-ng-submit="login()">
        <div data-custom-validation="errors"></div>

        <h2 class="form-signin-heading">Wybierz swój nick</h2>

        <div class="control-group" data-ng-class="{ error: loginForm.username._hasAnyError }">
            <input type="text" name="username" class="input-block-level" placeholder="Wpisz nick" data-ng-model="username" required>

            <div data-field-errors="username" 
                data-server-errors="errors" 
                data-client-errors="{ required: 'Pole jest wymagane.' }">
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit" data-ng-disabled="loginForm.$invalid || loginInProgress">
            {{ loginBtnText }}
        </button>
    </form>
</div>
